@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Pacifico&family=Poppins&family=Roboto:wght@500&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  max-width: 1440px;
  height: 72px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

nav ul li {
  /* background-color: yellowgreen; */
  padding: 24px 10px;
}

nav ul li:hover {
  background-color: red;
}

.nav-bottom-line {
  border-bottom: 1px solid rgb(236, 236, 236);
}

button {
  padding: 6px 16px;
  height: 32px;
  background-color: red;
  margin-right: 30px;
  color: white;
  border-radius: 4px;
  outline: none;
  border: 0;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.banner {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  height: calc(100vh - 73px);
  overflow: hidden;
}

.banner h1 {
  font-size: 119px;
  font-weight: 900;
  line-height: 102px;
  overflow: hidden;
}

.banner p {
  font-weight: 900;
  /* line-height: 102px; */
  max-width: 400px;
  margin: 20px 0;
}

.banner-btn {
  margin-right: 30px;
  color: white;
  border-radius: 4px;
  outline: none;
  border: 0;
  font-weight: 500;
  cursor: pointer;
}
.banner-btn:hover {
  background-color: black;
}

.banner-btn-trans {
  background-color: transparent;
  margin-right: 30px;
  border-radius: 4px;
  color: black;
  outline: none;
  border: 1px solid black;
  font-weight: 600;
  cursor: pointer;
}

.banner-btn-trans:hover {
  background-color: red;
}

a {
  text-decoration: none;
  color: black;
}
